# Überschrift
## Unterüberschrift
Text
- Punkt1
- Punkt2
- *kursiv*
- nicht kursiv
- **fett**

In [3]:
print("Hello World")

Hello World

In [4]:
name = "Lovelace"

In [5]:
print(name)

Lovelace

In [6]:
name

'Lovelace'

In [7]:
age = 73

In [8]:
print(age)

73

In [9]:
size = 1.7123

In [10]:
# Boolsche Werte
knows_math = True
likes_slacking = False

In [11]:
type(size)

float

In [12]:
type(knows_math)

bool

In [13]:
# Operatoren
5 + 5

10

In [14]:
age * 100

7300

In [15]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [16]:
name + "10"

'Lovelace10'

In [17]:
name + str(age)

'Lovelace73'

In [18]:
new_number = "10"
int(new_number)

10

In [19]:
type(new_number)

str

In [20]:
new_number

'10'

In [21]:
new_number = int(new_number)

In [22]:
type(new_number)

int

In [23]:
# Funktionen und Methoden
len(name)

8

In [24]:
len(age)

TypeError: object of type 'int' has no len()

In [25]:
name.upper()

'LOVELACE'

In [26]:
nsme.lower()

NameError: name 'nsme' is not defined

In [27]:
name.lower()

'lovelace'

In [28]:
name_capital = name.upper()
print(name_capital)

LOVELACE

In [29]:
name.count("e")

2

In [30]:
name.replace?

In [31]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [32]:
name

'Lovelace'

In [33]:
names = ["Lovelace", "Darwin", "Curie", "Hawkin"]

In [34]:
names = [2]

In [35]:
names

[2]

In [36]:
names = ["Lovelace", "Darwin", "Curie", "Hawkin"]

In [37]:
names[2]

'Curie'

In [38]:
names[0]

'Lovelace'

In [39]:
names[3]

'Hawkin'

In [40]:
names[-1]

'Hawkin'

In [41]:
names[:3]

['Lovelace', 'Darwin', 'Curie']

In [42]:
names[2:]

['Curie', 'Hawkin']

In [48]:
authors_and_birth_years = {"Lovelace": [1882, "London", "1903"], "Darwin": 1809, "Noether": 1882}

In [44]:
authors_and_birth_years["Darwin"]

1809

In [45]:
authors_and_birth_years["Noether"]

1882

In [52]:
authors_and_birth_years["Lovelace"][1]

'London'

In [53]:
%who

age	 authors_and_birth_years	 knows_math	 likes_slacking	 name	 name_capital	 names	 new_number	 size

In [54]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [59]:
for name in names:
    print(name + " did awesome stuff")
    print("----------------------")

Lovelace did awesome stuff
----------------------
Darwin did awesome stuff
----------------------
Curie did awesome stuff
----------------------
Hawking did awesome stuff
----------------------

In [64]:
# conditionals
temp = 20

In [65]:
if temp > 15:
    print("it's warm")

it's warm

In [67]:
temp < 15

False

In [68]:
temp = 10
if temp > 15:
    print("it's warm")
else:
    print("it's cold")

it's cold

In [73]:
temp = 21
if temp == 20:
    print("it's perfect")
elif temp > 15:
    print("it's warm")
else:
    print("it's cold")

it's warm

In [70]:
temp = 20